 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 a{
     text-decoration: none;
 }
 img{
     width: 100%;
     height: auto;
 }
 
 /* Variaveis */
 :root{
     --cabecalho-altura:4.5rem;
     --hue:20030;
     --base-color:hsl(var(--hue)36% 57%);
     --base-color-secand:hsl(var(--hue)65% 88%);
    --base-color-alternativa:hsl(var(--hue)57% 53%);
    --titulo-color:hsl(var(--hue)41% 10%);
    --texto-color:hsl(0 0% 46%);
    --base-color-light:hsl(0 0% 98%);
    --body-color:hsl(0 0% 98%);

    /* font´s */

    --titulo-size:1.875rem;
    --subtitulo-font-size:1rem;
 }
 /* corpo */
 html{
     scroll-behavior: smooth;
     transition: 2s;
 }
 body{
    font: 400 1rem "trebuchet ms", Arial;
    color: var(--texto-color);
    background: var(--body-color);
    -webkit-font-smoothing:antialiased;
}
.titulo{
    font: 700 1.875rem "Ariel", trebuchet ms;
    color: var(--titulo-color); 
    -webkit-font-smoothing:auto;
}
.botao{
    background-color: var(--base-color);
    color: var(--base-color-light);
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.35rem;
    font: 500 1rem "Arial", trebuchet ms; 
}
.botao:hover{
    background-color: var(--base-color-alternativa);
    transition: background 0.3s;
}
.divisao1{
    height: 1px;
    background: linear-gradient(
        270deg,
        hsla(var(--hue), 36%, 57%,1),
        hsla(var(--hue), 65%, 88%,0.34));
}
.divisao2{
    height: 1px;
    background: linear-gradient(
        270deg,
        hsla(var(--hue), 65%, 88%,0.34),
        hsla(var(--hue), 36%, 57%,1));
}
/* Corpo da pagina */
.conteudo{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
/* espaco entre o texto e a imagem */
.grid{
    display: grid;
    gap: 2rem;
}
/* espaco entre elementos */
.corpo{
    padding: 5rem 0;
    margin-top:  var(--cabecalho-altura);
}
.corpo .titulo{
    margin-bottom: 1rem;
}
.corpo .subtitulo{
    font-size: var(--subtitulo-font-size)
}
.corpo header{
    margin-bottom: 4rem;
}
.corpo header strong{
    color: var(--base-color);
}
 #cabecalho{
     width: 100%;
     border-bottom: 1px solid #e4e4e4;
     margin-bottom: 2rem;
     display: flex;
     position: fixed;
     z-index: 100;
     background-color: var(--body-color);
     top :0;
     left: 0;
 }

 /* navegacao */
 nav{
     width: 100%;
     height: var(--cabecalho-altura);
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 nav ul li{
     text-align: center;
 }
 nav ul li a{
    transition: color 0.2s;
    position: relative;
}
 nav ul li a:hover{
    color:var(--base-color);
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: var(--base-color);
    position: absolute;
    left: 0;
    bottom: -1.5rem;
    transition: 2s;
}
nav ul li a:hover::after{
    width: 100%;
}
 nav .menu{
     opacity: 0;
     visibility: hidden;
     top: -20rem;
     transition: 0.2s;
 }
 ul{
     list-style: none;
 }
 nav .menu ul{
     display: none;
 }

 /* mostroar menu */
 nav.mostra .menu{
    opacity: 1;
    visibility: visible;
    background: var(--body-color);
    width: 100vw;
    height: 100vh;/*altura do despositivo */
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
 }

 nav.mostra .menu ul{
     display: grid;
 }
 nav.mostra ul.grid{
    gap: 4rem;
}
.toggle{
    color: var(--base-color);
    cursor: pointer;
}
 /* logotipo */
 .logo{
    font: 700 1.31rem "Ariel", trebuchet ms;
    color: var(--titulo-color);
 }
 .logo span{
     color: var(--base-color);
 }
 .logoAL span{
     color: var(--body-color);
 }

 /* abre e fecha o menu */
 nav .fechar{
     visibility: hidden;
     opacity: 0;
     position: absolute;
     top: -1.5rem;
     right: 1.5rem;
     transition: 0.2s;
 }
 nav.mostra div.fechar{
     visibility: visible;
     opacity: 1;
     top : 1.5rem;
 }

/* corpo da pagina */
 #corpo{
    overflow: hidden;
 }
 #corpo .conteudo{
     margin: 0;
 }
 #corpo .imagem{
     position: relative;
 }
 #corpo .imagem::before{
     content: '';
     width: 100%;
     height: 100%;
     background: var(--base-color-secand);
     position: absolute;
     top: -16.8%;
     left: 16.7%;
     z-index: 0;
 }
 #corpo .imagem img{
     position: relative;
     right: 2.93rem;
 }
 #corpo .imagem img,
 #corpo .imagem::before{
     border-radius: 0.25rem;
 }
 #corpo .testo{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
 }
 #corpo .testo h1{
     margin-bottom: 1rem;
 }
#corpo .testo p{
    margin-bottom: 2rem;
    max-width: 100%;
}
 /* omeu hom é o meu corpo */
 /* sobre */
 #sobre{
     background: white;
 }
 #sobre .conteudo{
     margin: 0;
 }
 #sobre .imagem{
     position: relative;
 }
 #sobre .imagem::before{
     content: '';
     width: 100%;
     height: 100%;
     background: var(--base-color-secand);
     position: absolute;
     top: -8.3%;
     left: -33%;
     z-index: 0;
 }
 #sobre .imagem img{
     position: relative;
 }
 #sobre .imagem img,
 #sobre .imagem::before{
     border-radius: 0.25rem;
 }
 #sobre .testo{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
 }
 #servicos .testo{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
 }
 #testimonials .testo{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
 }
 #contacto .testo{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
 }
 .brand{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
 }
 /* card */
 .cards .grid{
     grid :1.2rem;
 }
 .card{
     padding: 3.625rem 2rem;
     box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
     border-bottom: 0.25rem solid var(--base-color);
     border-radius: 0.25rem 0.25rem 0 0;
     text-align: center;
 }
 .card i{
     display: block;
     margin-bottom: 1.5rem;
     font-size: 5rem;
     color: var(--base-color);
 }
 .card .lg{
    width: 6.25rem;
    height: 6.25rem;
 }
 .card .titulo{
     font-size: 1.5rem;
     margin-bottom: 0.75rem;
 }
/* testemunho */
#testimonials{
    background: white;
} 
#testimonials blockquote{
    padding: 2rem; 
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-radius: 0.25rem;
}
#testimonials blockquote p{
    position: relative;
    text-indent: 1.875rem;
    margin-bottom: 1.5rem;
    color: var(--titulo-color);
}
#testimonials blockquote p span{
    font: 700 2.5rem serif;
    position: absolute;
    top: -0.375rem;
    left: -1.875rem;
    color: var(--base-color);
}
#testimonials cite{
    display: flex;
    align-items: center;
    font-style: normal;
}
#testimonials cite img{
    width: 2rem;
    height: 2rem;   
    object-fit: cover; /*ajusta a imagem  */
    clip-path: circle(); /*faz o circulo na imagem */
    margin-right: 0.5rem;
}
/* contacto */
#contacto .grid{
    gap:4rem;
}
#contacto .testo p{
    margin-bottom: 2rem;
}
/* quando tem os mesmos valores */
#contacto .botao i,
#contacto ul li i{
    font-size: 1.5rem;
    margin-right: 0.625rem;
}
#contacto ul.grid{
    gap: 2rem;
}
#contacto ul li{
    display: flex;
    align-items: center;
}
#contacto ul li i{
    color: var(--base-color);
}
/* rodape*/

footer{
    background: var(--base-color);
}
footer .corpo{
    padding: 4rem 0;
}
footer .logo{
    display: inline-block;
    margin-bottom: 1.5rem;
}
footer .brand p{
    color: var(--base-color-light);
    margin-bottom: 0.75rem;
}
footer i{
    font-size: 1.5rem;
    color: var(--texto-color);
}
footer .social a{
    margin-right: 2rem;
}
.testo .titulo{
    text-align: center;
    margin-top: 4rem;
}
form{
    margin:0 auto;
    width: 900px;
    height: 650px;

    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    margin-top: 5rem;
    margin-bottom: 5rem;
    align-items: center;
}
form div + div,a{
    margin-top:1.3em ;
}
label{
    display: flex;
    /* width: 100px; */
    text-align: right;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
input, textarea, .form-control{
    font: 1.2em arial;
    color: var(--texto-color);
    width: 500px;
    height: 30px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    
    
}
input:focus, textarea:focus{
    border-color: #000;
}
textarea{
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

/* responsividade */
@media(min-width:1200px){
    .conteudo{
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto; 
    }
    .corpo{
        padding: 10rem 0;
    }
    #servicos .testo,
    #testimonials header .titulo{
        max-width: 32rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    #contacto .testo{
        max-width: 25rem;
        margin-left: auto;
        margin-right: auto;
    }
    #rodape{
        max-width: 62.5rem;
        margin-left: auto;
        margin-right: auto;
    }
    .botao{
        height: 2.125rem;
    }
    nav .menu{
        opacity: 1;
        visibility: visible;
        top: 0;
    }
    nav .menu ul{
        display: flex;
        gap: 2rem;
    }
    nav .menu ul li a.titulo{
        font: 400 1rem "Ariel", trebuchet ms;
    }
    nav .abrir{
        display: none;
    }
    #corpo .conteudo{
        grid-auto-flow: column;
        justify-content: space-between;
        margin: 0 auto;
    }
    #corpo .imagem{
        order: 1;
    }
    #corpo .testo{
        order: 0;
        max-width: 24rem;
        text-align: left;
    }
    main{
        margin-top: var(--cabecalho-altura);
    }

    /* sore */
    #sobre .conteiner{
        margin: 0 auto;
        grid-auto-flow: column;
    }
    .cards{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .testimonials{
        display: flex;
    }
    .testimonial{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    #contacto .conteiner{
        grid-auto-flow: column;
        align-items: center;
    }
    footer.corpo{
        padding: 3.75rem 0;
    }
    footer .conteiner{
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
    }
    footer .logo{
        font-size: 2.25rem;
    }
}
@media(min-width:992px){
    :root{
        --titulo-size:2.25rem;
        --subtitulo-font-size:1.25rem;
    }
}