/*Login*/
body{
	background-color: #405189;
}
#corpo{
	width: 80%;
	height: 560px;
	background-color: white;
	margin:130px 20px 20px 10%;
	border-radius: 15px;
}
#corpo #frmLogin{
	width: 50%;
	height: 55%;
	margin-top: 7%;
	margin-right: 12px;
	text-align: center;
	font-family: trebuchet MS, arial;
	font-size: 20px;
	color: #000;
	border-bottom: 1px solid #00222255;
	float: right;
}
#corpo #recuperar{
	float: right;
	margin: 400px -410px 0px 0px;
	font-family: trebuchet MS, arial;
	font-size: 20px;
	cursor: pointer;
}
#corpo #imagem{
	width: 49%;
	float: left;
	margin-top:50px;
	text-align: center;
	font-family: trebuchet MS, arial;
	font-size: 25px;
	color: #405189;
}
#corpo #imagem .img{
	margin: -40px 0px 0px 40px;
}
#corpo #frmLogin p{
	margin-top:-15px;
	color: #405189;
}
#corpo #frmLogin .email{
	width: 70%;
	height: 30px;
	font-family: trebuchet MS, arial;
	font-size: 20px;
	color: #405189;
	border: 1px solid #405189;
	border-radius: 25px 25px 25px;
}
#corpo #frmLogin .senha{
	width: 70%;
	height: 30px;
	margin-top: 15px;
	font-family: trebuchet MS, arial;
	font-size: 20px;
	color: #405189;
	border: 1px solid #405189;
	border-radius: 25px 25px 25px;
}
#corpo #frmLogin .entrar{
	width: 70%;
	height: 40px;
	margin-top: 15px;
	font-family: trebuchet MS, arial;
	font-size: 20px;
	color: white;
	background-color: #405189;
	border: 1px solid #405189;
	border-radius: 25px 25px 25px;
	cursor: pointer;
}
#corpo #frmLogin .entrar a{
	text-decoration: none;
	color: white;
}
